.Promo {
    background-color: #073042;
    position: relative;
    top: 0;
    z-index: 0;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 40px;
    margin: 0;
    padding: 134px 70px 60px 70px;
    justify-content: space-between;
    top: -80px;
}

.Promo__title{
    padding-bottom: 100px;
    max-width: 624px;
    color: #fff;
    font-weight: normal;
    font-size: 40px;
    line-height: 52px;
    margin: 0;
    align-self: flex-start;
    text-align: left;
}

.Promo__img {
    height: 230px;
    width: 722px;
    position: relative;
    align-self: flex-end;
}

@media screen and (max-width: 1000px) and (min-width: 769px) {
    .Promo {
        padding: 374px 44px 70px 44px;
    }
    .Promo__title{
        margin-top: -20%;
    }
}

@media screen and (max-width: 768px) {
    .Promo {
        padding: 374px 44px 70px 44px;
    }
    .Promo__title{
        text-align: center;
        max-width: 100%;
        padding-bottom: 140px;
        margin-top: 0;
    }
    .Promo__img {
        align-self: center;
    }
}

@media screen and (max-width: 500px) and (min-width: 320px) {
    .Promo__title{
        padding-top: 40vh;
        font-size: 9vw;
        padding-right: 4vw;
        padding-left: 4vw;
    }
}


@media screen and (max-width: 320px) {
    .Promo {
        padding-bottom: 40px;
    }
    .Promo__img {
        left: -50%;
    }
    .Promo__title{
        padding: 255px 10px 60px 10px;
        font-size: 31px;
        line-height: 39px;
    }
}