.moviesCard {
  background-color: #222222;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.moviesCard__title-wrap {
  max-height: 36px;
  padding: 18px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;

  font-family: "Inter", Arial, sans-serif;
}

.moviesCard__title {
  margin: 0;
  height: 36px;

  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

  padding-right: 10px;
  overflow: hidden;
}

.moviesCard__time {
  margin: 0;
  min-width: 55px;
  max-width: 70px;

  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #8b8b8b;
  text-align: right;
}

.moviesCard__image {
  object-fit: cover;
  min-width: 100%;
  min-height: 168px;
  max-height: 200px;

  cursor: pointer;
}

.moviesCard__image-link {
  display: contents;
}

.moviesCard__image::before {
  content: "Ой, кажется мы потеряли картинку. Скоро ее найдем :)";
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  color: #fff;
  display: block;
  text-align: center;
  padding-top: 20%;
  width: 80%;
  margin: 0 auto;
}

.moviesCard__image::after {
  content: "";
  display: block;
  padding-bottom: 25%;
}

.moviesCard__button-save {
  width: 100px;
  min-height: 29px;
  margin: 18px 0;
  padding: 9px 0 10px 0;

  background-color: #313131;

  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #fff;

  border: 0;
  border-radius: 30px;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  background-position: center;
}

.moviesCard__button-save_active {
  background-image: url("../../images/saved.svg");
  background-color: #ee3465;
  transition: 0.2s;
  background-repeat: no-repeat;
  background-size: 13px;
}

.moviesCard__button-save_delete {
  background-image: url("../../images/delete-movie.svg");
  transition: 0.2s;
  background-repeat: no-repeat;
  background-size: 13px;
}

.moviesCard__button-save_saved::before {
  content: url("../../images/cross.png");
}

.moviesCard__button-save_saved:focus::before {
  content: url("../../images/cross.png");
}

.moviesCard__button-save_saved:focus {
  background-color: #313131;
}

@media screen and (max-width: 320px) {
  .moviesCard__title {
    font-size: 12px;
  }

  .moviesCard__time {
    font-size: 10px;
  }
}
