.moreMoviesBtn__block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 70px 80px 50px;

  margin: 0 auto;
  max-width: 1280px;
}

.moreMoviesBtn__btn {
  padding: 11px 147px 9px 147px;
  background-color: transparent;

  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  border: 1px solid #424242;
  border-radius: 7px;
}

@media screen and (max-width: 480px) {
  .moreMoviesBtn__block {
    padding: 50px 40px 80px 40px;
  }
  .moreMoviesBtn__btn {
    padding-left: 0;
    padding-right: 0;
    width: 240px;
  }
}
