.Portfolio {
  font-family: "Inter", Arial, sans-serif;
}

.Portfolio__title {
  font-size: 18px;
  line-height: 20px;
  color: #8b8b8b;
  font-style: normal;
  font-weight: normal;

  padding-bottom: 30px;
  margin: 0;
}

.Portfolio__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Portfolio__list-item {
  font-size: 30px;
  line-height: 50px;

  padding-bottom: 19px;
  padding-top: 20px;
  border-bottom: 1px solid #fff;
  padding-right: 45px;

  position: relative;
  transition: 0.2s;
}

.Portfolio__list-item:hover::after {
  transform: translateX(-200%);
  transition: 0.5s;
}

.Portfolio__list-link {
  text-decoration: none;
  color: #fff;
}

.Portfolio__list-link:hover {
  transition: 0.2s;
  color: rgb(189, 189, 189);
}

.Portfolio__list-item::after {
  content: "";
  background: url("../../images/arrow.svg");
  position: absolute;
  right: 0;
  top: 0;
  margin: auto;
  width: 25px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .Portfolio__list-item {
    font-size: 28px;
    line-height: 50px;
  }
  .Portfolio__list-item::after {
    width: 20px;
  }
}

@media screen and (max-width: 480px) {
  .Portfolio__title {
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 20px;
  }
  .Portfolio__list-item {
    font-size: 18px;
    line-height: 28px;
  }
  .Portfolio__list-item::after {
    width: 15px;
  }
}
