.main__title {
  margin: 0;
  padding-bottom: 23px;

  font-size: 22px;
  line-height: 27px;
  font-weight: normal;
}

.main__line {
  background-color: #dadada;
  border: 0;
  height: 1px;
  margin: 0;
}

.main__description {
  font-weight: normal;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 20px;

  margin: 0;
}

@media screen and (max-width: 768px) {
  .main__description {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 320px) {
  .main__title {
    font-size: 18px;
    line-height: 22px;

    padding-bottom: 28px;

    font-weight: normal;
  }
  .main__description {
    font-size: 11px;
    line-height: 16px;
  }
}
