.Header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.Header__signup {
  padding-right: 30px;

  text-decoration: none;
  color: #fff;
}

.Header__signin {
  padding: 8px 20px;

  color: #000;
  background-color: #3ddc84;
  text-decoration: none;
  line-height: normal;

  border: none;
  border-radius: 3px;
}

@media screen and (max-width: 480px) {
  .Header__signup {
    padding-right: 14px;
  }
  .Header__signin {
    padding: 5px 12px;
  }
}
