.SignForm__block {
  max-width: 1280px;
  margin: 0 auto;
  padding: 70px 0;

  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.SignForm {
  max-height: 100%;
  width: 396px;

  font-family: "Inter", Arial, sans-serif;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.SignForm__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  text-align: left;

  padding-bottom: 40px;
  padding-top: 40px;
  margin: 0;
}

.SignForm__label {
  font-size: 10px;
  line-height: 12px;
  padding-bottom: 5px;

  color: #8b8b8b;
}

.SignForm__inputs {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  padding-bottom: 65px;
}

.SignForm__buttons {
  display: flex;
  flex-direction: column;

  padding-top: 70px;
}

.SignForm__input-text {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #424242;

  padding-bottom: 10px;
  margin-bottom: 24px;

  font-family: "Inter", Arial, sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
}

.SignForm__input-text:focus {
  border-bottom: 1px solid #c7c7c7;
  transition: 0.7s;
}

.SignForm__register-btn {
  background-color: #4285f4;

  font-family: "Inter", Arial, sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  padding: 13px;
  margin-bottom: 16px;
  border-radius: 3px;
  border: 0;

  cursor: pointer;
}

.SignForm__text {
  margin: 0;

  font-family: "Inter", Arial, sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #8b8b8b;
}

.SignForm__link {
  text-decoration: none;
  color: #4285f4;
}

@media screen and (max-width: 480px) {
  .SignForm__block {
    width: 80%;
    padding: 56px 0 30px 0;
  }
  .SignForm {
    width: 100%;
  }
}
